:root {
    --box-radius: 6px;
    --dark-background: #171b1f;
    --dark-weak: rgb(84, 84, 84)
}

.xmark-btn {
    background-image: url('.icons/xmark.svg')
}

.clickable {
    cursor: pointer;
}

.strip_background {
    background: transparent;
    border: none;
}

img {
    height: 24px;
    width: 24px;
}

.white {
    color: white;
}

.black {
    color: black;
}