body {
    width: 540px;
    font-weight: 500;
    height: 320px;
}

.app {
    padding: 12px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    gap: 20px;
    font-size: 13px;
}

.header {
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.select_script {
    height: 24px;
    max-width: 160px;
    z-index: 10;

    display: flex;
    overflow: hidden;
    gap: 5px;

    justify-content: center;
    align-items: center;
}

.title {
    font-size: 20px;
}

.new_script {
    display: flex;
    gap: 4px;

    align-items: center;
}

.header_dropdown {
    position: absolute;
    top: 20px;
    z-index: 10;

    display: flex;
    flex-direction: column;

    transform: translateY(-4px);
    visibility: hidden;
}

.main {
    display: flex;

    justify-content: center;

    margin-bottom: 10px;
}

.text-area_main {
    width: 100%;
    height: 180px;

    border-radius: 8px;
    resize: vertical;
}



.script-input {

    border-radius: var(--box-radius);
    padding: 0;
}

.controls {
    margin-bottom: 10px;
}
